.modalPopup {
  height: 40rem;
  width: 60rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
}
.BMenuItem {
  height: 10rem;
  border-bottom: 1px solid rgba(85, 85, 85, 0.605);
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #b9b9b9b5;
  .BItemInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 8rem;
    .BItemName {
      font-size: 1.5rem;
      font-weight: 600;
    }
    .BItemAmount {
      font-size: 1.5rem;
      font-style: normal;
      color: #111;
    }
    .BItemPrice {
      color: goldenrod;
      font-size: 1.5rem;
      font-weight: 600;
      margin-right: 5px;
    }
    .BItemExpense {
      display: flex;
      align-items: center;
    }
  }
  .BItemCal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    .BItemAmount {
        font-size: 1.5rem;
        font-style: normal;
        color: #111;
      }
    .addBtn,
    .subBtn {
      position: relative;
      height: 4rem;
      width: 4rem;
      text-align: 2rem;
      display: inline-block;
      background-color: rgb(144, 45, 9);
      border-radius: 5rem;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      font-size: 4rem;
      color: white;
      font-weight: bold;
      margin: 0;
      padding: 0;
      cursor: pointer;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
      }
    }
    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;
    // justify-content: center;
    // .amountForm {
    //   display: flex;
    //   align-items: center;
    //   width: 10rem;
    //   padding-bottom: 1rem;
    //   .amountLabel {
    //     font-size: 1.5rem;
    //     font-weight: bold;
    //     margin-right: 10px;
    //   }
    //   .amountInput {
    //     width: 3rem;
    //     border: none;
    //     background: #7d7d7d;
    //     border-radius: 1rem;
    //     padding: 0.5rem;
    //     &:focus {
    //       outline: none;
    //     }
    //   }
    // }
    // .amountButton {
    //   width: 10rem;
    //   height: 2.5rem;
    //   background-color: rgb(144, 45, 9);
    //   border-radius: 2rem;
    //   outline: none;
    //   border: none;
    //   font-size: 1.5rem;
    //   color: #fff;
    //   font-weight: bold;
    //   text-align: center;
    //   position: relative;
    //   cursor: pointer;
    //   transition: all ease 0.5s;
    //   &:hover {
    //     top: 1px;
    //   }
    // }
  }
}
