.modalPopup {
  min-height: 40rem;
  width: 60rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
  
.buttonsContainerBasket{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 2rem 2rem;
  display: flex;
}
  .basketButton{
    cursor: pointer;
    width: 7rem;
    height: 4rem;
    border-radius: 1rem;
    background-color:#902d09 ;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem;
   transition: all .5s ease;
    &:hover{
      transform: scale(1.1);
    }
    
  }
  .pay{
    background-color: gold;
    color: #902d09;
  }
}
.BItemTotal{
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 6rem;
  &__text{
    font-size: 3rem;
  }
  &__amount{
    font-size: 4rem;
  }
}
.BMenuItem {
  height: 10rem;
  border-bottom: 1px solid rgba(85, 85, 85, 0.605);
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #b9b9b9b5;
  .BItemInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 8rem;
    .BItemName {
      font-size: 1.5rem;
      font-weight: 600;
    }
    .BItemAmount {
      font-size: 1.5rem;
      font-style: normal;
      color: #111;
    }
    .BItemPrice {
      color: goldenrod;
      font-size: 1.5rem;
      font-weight: 600;
      margin-right: 5px;
    }
    .BItemExpense {
      display: flex;
      align-items: center;
    }
  }
  .BItemCal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    .BItemAmount {
        font-size: 1.5rem;
        font-style: normal;
        color: #111;
      }
    .addBtn,
    .subBtn {
      position: relative;
      height: 4rem;
      width: 4rem;
      text-align: 2rem;
      display: inline-block;
      background-color: #902d09;
      border-radius: 5rem;
      font-size: 4rem;
      color: white;
      font-weight: bold;
      margin: 0;
      padding: 0;
      cursor: pointer;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
      }
    }

  }
}
.nothing{
  color: #333;
  font-size: 8rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
